{% extends "sidebaradmin.html" %} {% block content %}
<div class="flex h-full">
  <!-- lado izquierdo -->
  <style>
    .message-success {
      background-color: #10b981;
      color: #ffffff;
    }

    .message-error {
      background-color: #ef4444;
      color: #ffffff;
    }
  </style>
  <div
    class="w-1/4 px-4 py-2 bg-slate-500 flex flex-col justify-center items-center"
  >
    <form
      class="flex items-center space-x-4 mb-4"
      method="POST"
      enctype="multipart/form-data"
      action="/cargaxml/"
    >
      {% csrf_token %}
      <label
        for="file"
        class="px-3 py-2 bg-slate-400 text-black rounded-lg cursor-pointer hover:bg-gray-300 transition duration-150 ease-in-out"
      >
        Seleccionar Archivo
      </label>
      <input
        type="file"
        id="file"
        name="file"
        accept="text/xml"
        class="hidden"
      />
      <button
        type="submit"
        class="px-3 py-2 bg-slate-400 text-black rounded-lg hover:bg-gray-300 transition duration-150 ease-in-out"
      >
        <span class="mr-2">
          <i class="fas fa-file"></i>
        </span>
        Mostrar
      </button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/xmlproductos/">
      {% csrf_token %}
      <button
        class="w-full px-4 py-2 bg-slate-400 text-black rounded-lg hover:bg-gray-300 focus:outline-none"
      >
        Cargar Productos
      </button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/xmlusuarios/">
      {% csrf_token %}
      <button
        class="mt-2 w-full px-4 py-2 bg-slate-400 text-black rounded-lg hover:bg-gray-300 focus:outline-none"
      >
        Cargar Usuarios
      </button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/xmlempleados/">
      {% csrf_token %}
      <button
        class="mt-2 w-full px-4 py-2 bg-slate-400 text-black rounded-lg hover:bg-gray-300 focus:outline-none"
      >
        Cargar Empleados
      </button>
    </form>
    <form method="POST" enctype="multipart/form-data" action="/xmlactividades/">
      {% csrf_token %}
      <button
        class="mt-2 w-full px-4 py-2 bg-slate-400 text-black rounded-lg hover:bg-gray-300 focus:outline-none"
      >
        Cargar Actividades
      </button>
    </form>
    <!-- <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <button
        class="mt-2 w-full px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none"
      >
        Limpiar Vista Previa
      </button>
    </form> -->
    {% if messages %} {% for message in messages %}
    <p
      class="{% if message.tags == 'success' %} toast-success {% elif message.tags == 'error' %} toast-error {% endif %}"
    >
      {{ message }}
    </p>
    {% endfor %} {% endif %}
  </div>

  <!-- lado derecho -->
  <div class="w-3/4 mx-4 flex flex-col">
    <h1 class="text-white ml-5 mt-5 font-bold text-lg">Vista Previa</h1>
    {% if contenido_archivo %}
    <textarea
      class="flex-1 w-max-64 px-3 py-2 m-5 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-500"
      readonly
    >
{{contenido_archivo}}</textarea
    >
    {% else %}
    <textarea
      class="flex-1 w-max-64 px-3 py-2 m-5 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-500"
      readonly
    ></textarea>
    {% endif %}
  </div>
</div>
<style>
  .toast {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 4rem;
    margin-right: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
  }

  .toast-success {
    background-color: #10b981;
    color: #ffffff;
  }

  .toast-error {
    background-color: #ef4444;
    color: #ffffff;
  }

  .toast-warning {
    background-color: #fbbf24;
    color: #1f2937;
  }

  .toast-info {
    background-color: #6b7280;
    color: #ffffff;
  }
</style>
{% endblock %}
