{% extends "sidebaradmin.html" %} {% block content %}
<div class="text-center my-6">
  <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white">
    Datos de Estudiantes
  </h2>
</div>

<!-- Datos de los estudiantes -->
<div
  class="card"
  style="
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    text-align: center;
  "
>
  <div class="photo" style="flex: 1">
    <img
      src="https://i.ibb.co/PjPqg9m/rebeca.jpg"
      style="width: 100%; max-width: 120px"
    />
  </div>
  <div class="info" style="flex: 3; text-align: left; padding-left: 20px">
    <h1 style="font-size: 1.5em; margin: 5px 0; font-weight: bold">
      Rebeca Ayline Torres Del Cid
    </h1>
    <h3 style="font-size: 1.2em; margin: 5px 0">
      Ingeniería en Ciencias Y Sistemas
    </h3>
    <h5 style="font-size: 1em; margin: 5px 0">202200341</h5>
    <p style="font-size: 1em; margin: 5px 0">
      Universidad San Carlos De Guatemala
    </p>
    <p style="font-size: 1em; margin: 5px 0">Facultad de Ingeniería</p>
    <p style="font-size: 1em; margin: 5px 0">Curso: IPC2</p>
  </div>
</div>

<div
  class="card"
  style="
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    text-align: center;
  "
>
  <div class="photo" style="flex: 1">
    <img
      src="https://i.ibb.co/FXWYTKQ/FOTOGRAFIA.jpg"
      style="width: 100%; max-width: 120px"
    />
  </div>
  <div class="info" style="flex: 3; text-align: left; padding-left: 20px">
    <h1 style="font-size: 1.5em; margin: 5px 0; font-weight: bold">
      Carlos David De León Barrios
    </h1>
    <h3 style="font-size: 1.2em; margin: 5px 0">
      Ingeniería en Ciencias Y Sistemas
    </h3>
    <h5 style="font-size: 1em; margin: 5px 0">202112109</h5>
    <p style="font-size: 1em; margin: 5px 0">
      Universidad San Carlos De Guatemala
    </p>
    <p style="font-size: 1em; margin: 5px 0">Facultad de Ingeniería</p>
    <p style="font-size: 1em; margin: 5px 0">Curso: IPC2</p>
  </div>
</div>
{% endblock %}
